<div class="leaderboard">

  <h2>Leaderboards</h2>
  <h4>Well done to our top contenders!</h4>
  <ul>
    <% @scores.limit(10).order('score desc').each do |score| %>
      <li>Name: <%= score.user.user_name %> Score: <%= score.score %></li>
    <% end %> 
  </ul>

</div>
