<div class="leaderboard">

  <h2>Leaderboards</h2>
  <h4>Well done to our top contenders!</h4>
  <table>
    <th>Top 10 Scores</th>
    <tr>
      <td>name:</td><td>score:<td>
    </tr>
    <% @scores.limit(10).order('score desc').each do |score| %>
      <tr>
        <% if  score.user %>
          <td><%= score.user.name %></td>
        <% else %>
          <td>No Name Entered</td>
        <% end %>

        <td><%= score.score %></td>
        <td><%= social_share_button_tag("I got #{score.score} points!") %></td>
      </tr>
    <% end %> 
  </table>
</div>
