<div class="leaderboard">

  <h2>Leaderboards</h2>
  <h4>Well done to our top contenders!</h4>
  <table>
    <th>Top 10 Scores</th>
    <tr>
      <td>name:</td><td>score:<td>
    </tr>
    <% @scores.limit(10).order('score desc').each do |score| %>
      <tr>
        <td><%= score.user.user_name %></td>
        <td><%= score.score %></td>
      </tr>
    <% end %> 
  </table>
  <p><%= social_share_button_tag("Score") %></p>
</div>
