<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="leaderboard.css">
    
  	<title><strong>Asteroids Leader Board</strong></title>
  	
  	<marquee class="GeneratedMarquee" direction="left" scrollamount="3" behavior="alternate">High Scores</marquee>
  </head>

  <table class="leaderboard">
    <tr>
      <th>Name</th><th>Level</th><th>Points</th>
    </tr>
    <tr>
      <td>John Doe</td><td>46</td> <td>5000</td>
    </tr>
    <tr>
      <td>Sally Doe</td><td>42</td><td>4500</td>
    </tr>
  </table>
  
</html>
