  <header class="header">
      <h1>Astroids Game!</h1>
  </header>
  
  <div id="gameWrapper">
  
  
  <!-- add small leaderboard later -->
    <div id="gameDiv">
    
      
    </div>
  </div>