<div class="smallLeaderboard">

  <h2>Leaderboards</h2>
  <h4>Well done to our top contenders!</h4>
  <table>
    <th>Top 10 Scores</th>
    <tr>
      <td>name:</td><td>score:<td>
    </tr>

  </table>
  <p><%= social_share_button_tag("Top Ten Scores") %></p>
</div>
