<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  
  <div id="gameWrapper">
  
  <!-- Going to do everything in javascript using ajax and hit rails methods with ajax as the interface  -->
  
    
  <!-- add small leaderboard later -->
    <div id="gameDiv">
    
      
    </div>
  </div>