<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  
  
  
  <!-- Going to do everything in javascript using ajax and hit rails methods with ajax as the interface  -->
  <!-- Will be working on this monday / tuesday / wednesday as much as i can! -->
    
  <!-- add small leaderboard later -->
  <div id="gameDiv">
    <div class="gameWrapper">
      <div class="bulletsWrapper">
        <p class="bullets">Bullets:</p>
      </div>
      
      <div class="livesWrapper">
        <p class="lives">Lives:</p>
      </div>
      
    </div>
  </div>