// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.smallLeaderboard {
  float: right;
  margin-right: 20px;
}

// Game wrapper DIV
#gameDiv {
  margin-top: 50px;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  position: relative;
}

// Actual game canvas
#gameDiv canvas {
  margin-top: 275px;
  border-color: #34d837;
  border-style: solid;
  
}
//positioning HUD over game
.gameWrapper {
  position: absolute;
  float: left;
  width: 100%;
  margin: 10px 10px 0 10px;
}

.gameWrapper * {
  float: left;
}

.livesWrapper {
  float: right;
}


.bullet {
  -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 0 auto;
    margin-left: 5px;
}

.lives {
  margin: 16px;
  float: right;
}

.life {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 0 auto;
    margin-left: 5px;
  width: 50px;
  height: 50px;
}

body {
  background-color: black;
  color: white;
}

header {
  width: 25%;
  background: url(solidblackbg.jpg);
  text-align: center;
}

.moveBelowHeader {
  margin-top: 350px;
  margin-left: 20px;
}

footer {
  /*float: right;*/
  text-align: center;
  color: #fff;
  border-color: black;
  border-style: solid;
  background: url(solidblackbg.jpg);
  margin-right: 0;
  text-shadow: 0 0 20px #34d837;
}

footer h4 {
  padding: 0 10px;
}

.leaderboard {
  color: black;
  border-color: black;
  border-style: solid;
  background-color: lightgrey;
  box-shadow: 1px 1px white;
  padding: 10px;
  margin-top: 5px;
  width: 30em;
}
  
.leaderboard th {
  background-color:#000;
  color:#7cff00;
  width:50%; 
}
  
.leaderboard td, .leaderboard th {
  font-weight: bold;
  padding:5px;
  border:1px 
  solid #000; 
}
  
.GeneratedMarquee {
  font-size:1em;
  /*font-style:italic;*/
  line-height:1.3em;
  color:#7cff00;
  background-color:#000000;
  padding:.5em;
  margin: auto;
}

.header {
  display: block;
  margin: auto;
  width: 100%;
  position: relative;
  top: 59px;
}

.main {
  width:100%;
  margin:auto;
}

.navbar {
  background-color: #e6ecf7;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  text-align: center;
}

.navbar a {
  color: #37383a;
  display: inline-block;
  float: left;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  margin: auto;
  padding: 20px 20px 23px 20px;
}

.navbar a:hover {
    background: darkgrey;
    color: #44ed47;
    padding: 20px 20px 23px 20px;
    margin: auto;
}

.navbar li {
  display: inline;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.omniauth  {
  float: right;
}

.omniauth a {
  
  padding-bottom: 12px;
  
}

.omniauth a:hover {
  
  padding-bottom: 12px;
  
}

/* Background Styles */
.fadein { 
		position:fixed;
    width:100%; 
    height:100%; 
    z-index: -1;
}

.fadein img { 
    position:absolute; 
    left:0; 
    top:0; 	
    width:100%;
    height:100%;
}

/* Saves Styles */
.savesContainer {
  width: 95%; margin:0 auto;
  margin-top: 23em;
  text-align:left;
  background-color:rgba(25,25,25, 0.5);
}

.saveSlot {
  width:100%; 
  height: 5em;
  color:lime;
  border-radius:3%;
  transition: .2s linear;
}

.saveSlot:hover{
  background-color:rgba(225,225,225, 0.5);
  cursor:pointer;
}

.saveSlot p{
  display:inline;
}

.saveLabel {
  font-size: 1.2em;
  font-weight: bold;
}

.saveName{
  margin-top:12px;
  padding:5px;
}

.saveDivider {
  border-bottom:1px dotted lime;
  margin-top:12px;
}

.savesHeader{
  font-size:1.3em;
  padding:.1em;
  text-align:center;
}

.startGame{
  height:2.5em;
  width:95%;
  margin:auto;
  margin-top:23em;
  border:1px dotted lime;
  text-align: center;
}

.startGame:hover{
  border:2px dotted lime;
  color:#eee;
  cursor: pointer;
}
